<form action="/users/signin" method="get" id="signin"></form>
<form action="/users/signup" method="get" id="signup"></form>

<button type="submit" form="signin" value="Sign In">Sign In</button>

<p>Don't have an account?  Then <button type="submit" form="signup" value="Sign Up">Sign Up</button></p>