<!doctype html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <p class="message">
      <%== display_message %>
    </p>
    
    <main>
      <%== yield %>
    </main>
  </body>
</html>