<form action="/new_doc/" method="post">
  <label for="doc_name">Add a new document:</label><br>
  <input type="text" name="doc_name" value=<%= params[:doc_name]%>>
  <input type="submit" value="Create">
</form>