Enter your new login credentials below:
<p><form action="/users/signup" method="post">
  <label for="username">New Username:</label>
  <input type="text" name="username"><br>
  <label for="password">New Password:</label>
  <input type="text" name="password"><br>
  <input type="submit" value="Sign Up">
</form></p>